@model FilesViewModel


<div class="listoffilesbox">
    <img src="~/Images/game1.png" class="addfile" />
    <div class="d-flex justify-content-center mt-4">
        <hc> List of games </hc>
    </div>
    <div class="mt-3 ml-3 mr-3 mb-3">
        <ul>
            @foreach (var file in Model.Files)
            {
                @if (User.IsInRole("Admin"))
                {
                    <li style="padding:5px 5px 5px 5px">
                        <a asp-action="Download" asp-route-someFile="@file.Name"> @file.Name </a>
                        <a asp-action="Delete" asp-route-someFile="@file.Name" class="btn btn-red"> Delete </a>
                    </li>
                }

                else
                {
                    <li style="padding:5px 5px 5px 5px">
                        <a asp-action="Download" asp-route-someFile="@file.Name"> @file.Name </a>
                    </li>
                }
            }
        </ul>
       </div>
</div>

