@using GameCo.Services.Models.Games
@*@using Newtonsoft.Json
@using Nancy.Json;*@
@using System.Text.Json
@using System.Text.Json.Serialization
@model List<GameServiceModel>

@{
    ViewData["Title"] = "Home Page";

    List<RatingServiceModel> ratingServiceModels = ViewBag.result;
    List<GameServiceModel> gameServiceModels = ViewBag.resultGame;

    var dict = ratingServiceModels.ToDictionary(key => key.GameId, value => value.RatingValue.ToString());

    //TODO check for dublicate entries in db
    
    var asd = JsonSerializer.Serialize(ratingServiceModels);

    string jsonString = JsonSerializer.Serialize(dict).Replace("\\", string.Empty);


}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div id="mainTag" style="background-color:transparent;">
    <div class="text-center">
        <h1 class="display-4">Welcome to GameCo</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>

    @*Slider*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < gameServiceModels.Count; i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>

            }
        </ol>

        <div class="carousel-inner">
            @foreach (var game in gameServiceModels)
            {
                <div class="game carousel-item @(game.Name == "Foxey" ? "active" : "")" id="@game.Id">
                    <div class="container d-flex align-items-center">
                        <div class="row align-items-center">
                            <a href="~/Games/@game.Name/index.html">
                                <img class="img-fluid" src="~/Images/@(game.Name).png" alt="First slide">
                            </a>
                        </div>
                        <div class="col-12 col-md-4 offset-md-1 ml-md-auto text-left">
                            <h1>@game.Name</h1>
                            <p style="font-size:22px;">This is our new game @game.Name .</p>


                            <div>
                                <p style="font-size:22px;">Rate this game:</p>

                                <form id="@game.Id">
                                    <input type="hidden" id="gameidvalue" name="gameId" value="@game.Id" />
                                    <ul class="star-cb-group">
                                        <li class="star"><i class="fas fa-star"></i></li>
                                        <li class="star"><i class="fas fa-star"></i></li>
                                        <li class="star"><i class="fas fa-star"></i></li>
                                        <li class="star"><i class="fas fa-star"></i></li>
                                        <li class="star"><i class="fas fa-star"></i></li>
                                        <li class="star"><i class="fas fa-star"></i></li>
                                    </ul>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>

            }
        </div>



        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<script src="~/js/Rating.js"></script>
<script>
    SetRating(@Html.Raw(jsonString));
</script>
